
<a routerLink="/list">List of users</a>

<div *ngIf="user">
    <div class="userinfo">
        <h1>{{user.name}} {{user.surname}}</h1>
        <div class="photo">
            <img src="../../img/{{user.photo}}" alt="">
        </div>
        <table class="info">
            <tbody>
            <tr>
                <td class="first">Age</td>
                <td>{{user.age}}</td>
            </tr>
            <tr>
                <td class="first">City</td>
                <td>{{user.city}}</td>
            </tr>
            <tr>
                <td class="first">Sex</td>
                <td>{{user.sex}}</td>
            </tr>
            <tr>
                <td class="first">Work</td>
                <td>{{user.work}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="description">{{user.description}}</div>
</div>